body {
  width: 480px;
  height: 320px;
  margin: 0;
  font-family: 'source sans pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:visited {
  color: #049ccf;
}

label {
  font-weight: 700;
}

textarea {
  border: 1px solid #f3f3f3;
  color: #222;
  box-sizing: border-box;
}
