.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 32px 32px 16px;
  color: #464646;
}

.App-main {
  padding-bottom: 16px;
}

.form {
  margin: 0 32px;
}

.select {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 16px;
}

.option {
  flex: 1;
  display: flex;
  text-align: left;
}

.preview {
  display: table;
  width: 334px;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 16px;
}

.perview div {
  display: table-cell;
  vertical-align: middle;
}

.codetocopy {
  display: block;
  line-height: 1.75;
  width: 350px;
  height: 3.4rem;
  resize: none;
  margin: 16px auto;
}
